version: 2
jobs:
  build:
    docker:
    - image: "circleci/golang:1.11"
    steps:
    - checkout
    - restore_cache:
        keys:
        - 'go-mod-v1-{{ checksum "go.sum" }}'
    - run: "go test -v ./..."
    - save_cache:
        key: 'go-mod-v1-{{ checksum "go.sum" }}'
        paths:
        - /go/pkg/mod